<p>home works!</p>
<h1>引入图片</h1>
<img src="assets/img/baidu.png" alt="" />
<img [src]="picUrl" alt="" />

<hr />
<h1>循环数据 显示数据的索引(key)</h1>

<ul>
  <li *ngFor="let item of list; let key = index">
    {{ key }}---{{ item.title }}
  </li>
</ul>

<h1>条件判断语句 *ngIF</h1>
<div *ngIf="flag">
  <img src="assets/img/baidu.png" alt="" />
</div>
<div *ngIf="!flag">
  <img [src]="picUrl" alt="" />
</div>

<ul>
  <li *ngFor="let item of list; let key = index">
    <span *ngIf="key == 1" class="red"> {{ key }}---{{ item.title }}</span>
    <span *ngIf="key !== 1"> {{ key }}---{{ item.title }}</span>
  </li>
</ul>

<h1>条件判断语句 *ngSwitch</h1>

<div [ngSwitch]="orderStatus">
  <div *ngSwitchCase="1">1表示已经支付</div>
  <div *ngSwitchCase="2">2支付且确认订单</div>
  <div *ngSwitchCase="3">3表示已经发货</div>
  <div *ngSwitchCase="4">4表示已经收获</div>
  <div *ngSwitchDefault>5无效</div>
</div>

<h1>属性[ngClass],[ngStyle]</h1>

<div class="red">ngClass演示 （尽量不要用dom来改变class）</div>

<div [ngClass]="{ blue: true, red: true }">ngClass演示</div>

<hr />
<div [ngClass]="{ blue: flag, red: !flag }">ngClass演示</div>

<strong>循环数据，让数组的第一个元素的样式为red</strong>

<li
  *ngFor="let item of list; let key = index"
  [ngClass]="{ red: key == 0, blue: key !== 0 }"
>
  {{ key }}==={{ item.title }}
</li>

<p style="color: red">我是一个p标签</p>
<p [ngStyle]="{ color: 'blue' }">我是一个p标签</p>
<p [ngStyle]="{ color: attr }">我是一个p标签</p>
//变量不要加引号

<h1>管道</h1>
{{ today | date: "yyyy-MM-dd HH:mm ss" }}

<h1>事件</h1>
<strong>{{ title }}</strong>

<button (click)="run()">执行事件</button>
<br />
<button (click)="getData()">执行方法获取数据</button>
<br />
<button (click)="setData()">执行方法改变属性里面的数据</button>
<br />
<!-- <input type="text" (keydown)="keyDown()" /> -->
<button (click)="runEvent($event)">执行方法获取事件对象</button>

<h1>表单事件 事件对象</h1>
keydown:
<input type="text" (keydown)="keyDown($event)" />
<br />
keyup:
<input type="text" (keyup)="keyUp($event)" />

<h1>
  双向数据绑定：MVVM(只针对表单) model改变会影响视图。视图改变会反过来改变model
</h1>
<h5>model:业务逻辑里的数据 视图：html代码</h5>
<h5>要在angular使用mvvm需要引入FormsModule</h5>

<input type="text" [(ngModel)]="keywords" />{{ keywords }}
<br />
<button (click)="changeKeywords()">改变keywords的值</button>
<br />
<button (click)="getKeywords()">获取keywords的值</button>
